@import '_fonts';
@import '_grid';
@import '_loader';

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}

body {
  background-color: #FFF;
  color: #000;
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  line-height: 18px;
	margin: 0;
	padding: 0;
}

main {
  height: 690px;
  opacity: 0;
  transition: 0.5s all ease;
}

h1 {
	font-family: 'Gotham-Bold', sans-serif;
  font-weight: normal;
	font-size: 16px;
  line-height: 49px;
	margin: 0;
  padding-left: 20px;
}

h2 {
  border-bottom: 1px solid #CCC;
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  padding-bottom: 15px;
}

h3,
.h3 {
	color: #000;
	font-family: 'Gotham-Bold', sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
}

h4 {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  margin: 0;
}

ul {
	margin: 0;
	&.horizontal {
		list-style-type: none;
		display: flex;
	}
}

a,
a:visited {
	color: #2D78BD;
	text-decoration: none;
}

header {
  align-items: center;
  background-color: #EDF6FD;
  border-bottom: 1px solid #CCC;
  display: flex;
  flex-flow: row;
  width: 100%;
  .date {
    padding: 0 0 0 10px;
  }
}

.description {
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
  color: #888;
  padding: 20px;
  position: absolute;
	width: 60%;
  p {
    margin: 0;
  }
}

.global-figures {
	padding-left: 20px;
	width: 40%;
}

.panel {
	background-color: #FFF;
	height: 100%;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 40%;
	.panel-inner {
		padding: 20px;
	}
}

.stats {
	display: flex;
	.key-figure {
		margin-right: 15px;
		padding-bottom: 20px;
		width: 33%;
		.inner {
			border-bottom: 1px solid #CCC;
      border-top: 1px solid #CCC;
			h3 {
				height: 32px;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.num {
	color: #000;
	font-family: 'Gotham-Light', sans-serif;
	font-size: 52px;
	line-height: 52px;
	min-height: 81px;
	padding: 10px 0;
	span {
		font-size: 26px;
	}
}

.label-header {
	display: block;
	font-weight: 700;
	margin: 0;
	padding-bottom: 0;
}

.small {
	font-size: 12px;
	line-height: 14px;
	margin: 0;
}

.date {
	color: #888;
	padding-bottom: 20px;
}

.content {
	position: relative;
}

.logos {
	margin-left: auto;
	img {
		margin-left: 40px;
		margin-bottom: 0;
		vertical-align: middle;
		width: auto;
	}
}

#map{
	fill: #A6D8E8;
  position: relative;
  .map-regions{
  	fill: #F2F2EF;
    stroke: #CCC;
    cursor: pointer;
  }
  .zoom-controls {
    position: absolute;
    left: 20px;
    top: 170px;
    display: grid;
    grid-gap: 5px;  
    button {
      width: 30px;
      height: 30px;
      font-size: 18px;
      display: grid;
      border-radius: 50% !important;
      background: #FFF;
      color: #000;
      border: none;
      user-select: none;
      cursor: pointer;
      box-sizing: border-box;
    }
    button:active {
      background: rgba(255, 255, 255, 0.8);
    }
    button:focus {
      outline: 0;
    }
  }
  .map-legend {
  	background-color: #FFF;
  	top: 20px;
  	color: #000;
  	height: 140px;
  	opacity: 0.8;
  	position: absolute;
  	left: 20px;
  	width: 160px;
  	.legend-inner {
  		padding: 0 10px 10px;
  	}
  	.label {
  		fill: #000;
  		font-size: 12px;
  	}
  }
}

.country-label{
  fill: #000;
  font-size: 13px;
  pointer-events: none;
  text-anchor: middle;
  width: 100px;
}

.count-marker{
	cursor: pointer;
  fill-opacity: 0.5;
  fill: #F2645A;
  stroke: #F2645A;
}

.tooltip{
  background-color: #FFF;
  border: 0px;
  border-radius: 3px;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  height: 100px;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  transition: 0.3s opacity ease;
  width: 130px;
  z-index: 100;
  &:after {
    border-color: rgba(136, 183, 213, 0);
    border: solid transparent;
    border-top-color: #FFF;
    border-width: 10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
  }
  .label-header{
    padding-bottom: 5px;
  }
}

.timeseries-chart {
	margin: 10px 0;
}

.c3-title {
  font-family: 'Gotham-Bold', sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}


@media only screen and (max-width: 767px) {

}
