@import '_grid';
@import '_loader';

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}

body {
  background-color: #B7C3D0;
  color: #FFF;
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 20px;
	margin: 0;
	padding: 0;
}

main {
  opacity: 0;
  transition: 0.5s all ease;
}

header {
	align-items: center;
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
	color: #000;
	display: flex;
	flex-flow: row;
	height: 52px;
	padding: 0 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

h1 {
	font-size: 22px;
	margin: 0;
}

ul {
	margin: 0;
	&.horizontal {
		list-style-type: none;
		display: flex;
	}
}

.label-header {
	display: block;
	font-weight: 700;
	margin: 0;
	padding-bottom: 0;
	text-transform: uppercase;
}

.date {
	color: #999;
	font-size: 12px;
	padding: 6px 10px 0;
}

.content {
	margin-top: 52px;
	position: relative;
}

.logos {
	margin-left: auto;
	img {
		margin-left: 40px;
		margin-bottom: 0;
		vertical-align: middle;
		width: auto;
	}
}

#map{
	fill: #B7C3D0;
  position: relative;
  .map-regions{
    stroke: #FFF;
    cursor: pointer;
  }
  .zoom-controls {
    position: absolute;
    left: 45px;
    bottom: 45px;
    display: grid;
    grid-gap: 5px;  
    button {
      width: 30px;
      height: 30px;
      font-size: 18px;
      display: grid;
      border-radius: 50% !important;
      background: #FFF;
      color: #000;
      border: none;
      user-select: none;
      cursor: pointer;
      box-sizing: border-box;
    }
    button:active {
      background: rgba(255, 255, 255, 0.8);
    }
    button:focus {
      outline: 0;
    }
  }
}

.country-label{
  fill: #6d6d6d;
  font-size: 12px;
  pointer-events: none;
  text-anchor: middle;
  width: 100px;
}

.count-marker{
  fill-opacity: 0.5;
  fill: #00acee;
  stroke: #0a95ca;
}

.tooltip{
  background-color: #FFF;
  border: 0px;
  border-radius: 3px;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  height: 70px;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  transition: 0.3s opacity ease;
  width: 120px;
  z-index: 100;
  &:after {
    border-color: rgba(136, 183, 213, 0);
    border: solid transparent;
    border-top-color: #FFF;
    border-width: 10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
  }
  .label-header{
    padding-bottom: 5px;
  }
}

.panel {
	background-color: #FFF;
	height: 100%;
	opacity: 0.8;
	overflow: scroll;
	position: absolute;
	right: 0;
	top: 0;
	width: 40%;
	.panel-inner {
		padding: 20px;
	}
}

.key-figures {
  align-items: center;
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
	display: flex;
	height: 100px;
	justify-content: center;
	padding: 20px;    
	.key-figure {
		color: #000;
		font-size: 20px;
		margin-right: 50px;
		span {
			font-size: 40px;
		}
	}
}

.indicator-chart {
	margin-top: 20px;
}

.c3-title {
  font: 11px sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}


@media only screen and (max-width: 767px) {

}
